include ./mixins/image.pug
include ./mixins/video.pug
include ./mixins/credit.pug
//- include ./includes/coded-by.pug

doctype html
html(lang="en")
  head
    <link rel="shortcut icon" type="image/png" href="../assets/favicon.png"/>
    title= general.title

    <!-- For Google -->
    meta(name="description" content=general.description)
    meta(name="keywords" content=general.keywords)

    <!-- For Facebook -->
    meta(property="og:title" content=general.title)
    meta(property="og:image" content="")
    meta(property="og:url" content=general.url)
    meta(property="og:description" content=general.description)

    <!-- For Twitter -->
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content=general.title)
    meta(name="twitter:description" content=general.description)
    meta(name="twitter:image" content="")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

  body
    .split
      header.header.header--sans-serif.split-half.split-half--left('data-section'='products')
        .split-half__inner
          .split-half__text
            h1.split-half__page-title
              include ../assets/svg/pl-sans.svg
            .split-half__section-title
              h2.subtitle.products.js-section-title
                include ../assets/svg/products-sans.svg
              h2.subtitle.rings.js-section-title
                include ../assets/svg/rings-sans.svg
          .split-half__media
            each image, index in left.images
              +image(imagePath, image)
            each videoURL in left.videos
              +video(videoURL)
          a.split-half__contact(href!='mailto:'+contact.email target='_blank')
            include ../assets/svg/contact-sans.svg

      .header.header--serif.split-half.split-half--right('data-section'='rings')
        .split-half__inner
          .split-half__text
            div.split-half__page-title
              include ../assets/svg/pl-serif.svg
            .split-half__section-title
              .subtitle.products.js-section-title
                include ../assets/svg/products-serif.svg
              .subtitle.rings.js-section-title
                include ../assets/svg/rings-serif.svg
          .split-half__media
            each image, index in right.images
              +image(imagePath, image)
            each videoURL in right.videos
              +video(videoURL)
          a.split-half__contact(href!='mailto:'+contact.email target='_blank')
            include ../assets/svg/contact-serif.svg
    .credits
      .credits__inner
        each credit in credits
          +credit(credit)

    script(src="scripts/index.js")
